.npcPic {
    width:300px;
    border-radius:10px;
}

.missionCard {
    margin-top:1rem;
    width:50rem;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.missionsTitle {
    text-align:center;
    margin-top:1rem;
    color:rgb(210, 0, 0);
}

.missionsContainer {
    min-height: calc(100vh - 50px);
    background-color:black;
    color:white;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.details {
    margin-top:1rem;
    color:rgb(210, 0, 0);
}

.missionParagraph {
    margin-top:1rem;
    align-self:flex-start;
    font-size:14px;
    line-height: 1.5rem;
}

.missionCaption {
    text-align: center;
}

.missionSpan {
    color:rgb(210, 0, 0);
}

.missionButton {
    padding: 4px;
    border-radius:10px;
}

.missionButton:hover {
    cursor: pointer;
    box-shadow: rgb(242, 241, 238) 0 0 5px;
}

.missionButton:active {
    background-color:rgb(176, 173, 173);
}