.navbarContainer {
    display:flex;
    justify-content: center;
    align-items:center;
    height: 50px;
    width: 100%;
    background-color: black;
    color:white;
    position:sticky;
    top:0;
    border-bottom:1px solid white;
}

.navbarLeft {
    flex:1;
}

.navbarCenter {
    flex:3;
    display:flex;
    justify-content:space-around
}

.navbarRight {
    flex:1;
    display:flex;
    justify-content:flex-end;
    margin-right:1rem;
    color:rgb(210, 0, 0);
}

.logo {
    margin-left:1rem;
    color:rgb(210, 0, 0) !important;
}

.logo:hover {
    cursor:pointer;
}

.navbarCenter span:hover {
    cursor:pointer;
}

.navbarLink {
    text-decoration: none;
}

.navbarLink:visited {
    color:white;
}

.navbarLink:hover {
    text-shadow: rgb(242, 241, 238) 0 0 10px;
}

.navbarLink:link {
    color:white;
}